argparse
future==0.18.2
imutils==0.5.3
Keras==2.3.1
nmslib==2.0.5
numpy==1.18.1
opencv-python
pandas
pathlib==1.0.1
pathtools==0.1.2
psutil==5.7.0
scikit-learn==0.22.1
scipy==1.4.1
slidingwindow==0.0.13
tensorflow==2.0.0
urllib3==1.25.8